# OpenAI
OPENAI_API_KEY=......

# GoogleAPI
GOOGLE_API_KEY=.....

# Pushover
PUSHOVER_USER=......
PUSHOVER_TOKEN=......
PUSHOVER_URL=.....

# Pinecone
PINECONE_API_KEY=.....
PINECONE_INDEX_NAME=......

# Embedding configs
EMBEDDING_MODEL=.....
EMBEDDING_DIMENSIONS=......

# Server Configuration
PORT=8000
ENVIRONMENT=production # development